
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" style="font-weight:500; font-size: 25px;"><%= module %></div>
        </div>
    </div>
</nav>
