<%- include('header') %>
<div class="wrapper">
	<%- include('includes/sidebar') %>
	<div class="main-panel">
	<%- include('includes/navbar') %>
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="margin-top:0px;" id="top-contributor-chart-parent">
							<div class="card-content">
								<canvas onload="" width="400" height="250"></canvas>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('footer') %>